<b>About this HIT:</b><br><br>
<ul>
    <li><b>Please only participate in this HIT if you have normal color vision.</b></li><br>
    
    <li>It should take about 5 minutes.</li><br>
    <li>You will take part in an experiment involving red-green colorblind visual perception. You'll see two images and a caption.</li><br>
    <li>Your task is to determine which of the two images matches the caption the best.</li><br>
    <!-- <li>You will be asked first whether or not you are red-green colorblind. If you are not colorblind, a simulation of red-green colorblindness will be applied to the images for you.</li> -->

</ul>